<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <%= wicked_pdf_image_tag('animalesfelices-invoice', :class => 'logo') %>
            </td>
            <td></td><td></td>
            <td>
              Factura #: <%= @invoice.no %><br>
              Fecha: <%= l(@invoice.created_at, format: :long) %><br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    
    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
              <strong>RUC: 0913275566001</strong><br>
              <strong>PABLO GREGORIO TRIVIÑO ULLOA</strong><br>
              Guayas, Guayaquil<br>
              Coop. Jaime Polit Alcivar Mapasingue Este Mz. B SL. 1
            </td>
            <td></td><td></td>
            <td>
              <strong>Datos del cliente</strong><br>
              <strong>Nombre:</strong>    <%= @invoice.client.name %><br>
              <strong>Dirección:</strong> <%= @invoice.client.address %><br>
              <strong>RUC/C.I:</strong>   <%= @invoice.client.cedula %><br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    
    <%# <tr class="heading">
      <td>
        Payment Method
      </td>
      
      <td>
        Check #
      </td>
    </tr>
    
    <tr class="details">
      <td>
        Check
      </td>
      
      <td>
        1000
      </td>
    </tr> %>
    
    <tr class="heading">
      <td>
        Item
      </td>

      <td>
        Cantidad
      </td>
      
      <td>
        Precio unit
      </td>

      <td>
        Precio total
      </td>
    </tr>

    <% @invoice.details.each do |detail| %>
      <tr class="item">
        <td>
          <%= detail.item.name %>
        </td>
        
        <td>
          <%= detail.quantity %>
        </td>

        <td>
          <%= number_to_currency detail.price_unit, unit: "$" %>
        </td>

        <td>
          <%= number_to_currency detail.price_total, unit: "$" %>
        </td>
      </tr>
      <%= %>
    <% end %>
    
    <tr class="total">
      <td></td><td></td><td></td>
      
      <td colspan="4">
          Subtotal: <%= number_to_currency @invoice.sub_total, unit: "$" %>
      </td>
    </tr>
    <tr class="total">
      <td></td><td></td><td></td>
      
      <td colspan="4">
          Iva: <%= number_to_currency @invoice.iva, unit: "$" %>
      </td>
    </tr>
    <tr class="total">
      <td></td><td></td><td></td>
      
      <td colspan="4">
          Total: <%= number_to_currency(@invoice.total, :unit => "$") %>
      </td>
    </tr>
  </table>
</div>