<div class="invoice-box invoice-template">
  <div class="invoice-date">
    <table>
      <tr>
        <td width="40%">
          Guayaquil
        </td>
        <td width="20%">
          <%= @invoice.created_at.day %>
        </td>
        <td width="20%">
          <%= @invoice.created_at.month %>
        </td>
        <td width="20%">
          <%= @invoice.created_at.year %>
        </td>
      </tr>
    </table>
  </div>
  <div class="invoice-customer-detail">
    <table>
      <tr>
        <td width="75%">
          <%= @invoice.client.name %>
        </td>
      </tr>
      <tr>
        <td width="75%">
          <%= @invoice.client.cedula %>
        </td>
      </tr>
      <tr>
        <td width="75%">
          <%= @invoice.client.address %>
        </td>     
        <td><span style="text-align: right;"> <%= @invoice.client.phone %></span></td>
      </tr>
    </table>
  </div>
  <div class="list-items">
    <table>
      <% @invoice.details.each do |detail| %>
        <tr class="item">
          <td width="10%">
            <%= detail.quantity %>
          </td>
          
          <td width="70%">
            <%= detail.item.name %>
          </td>

          <td width="20%" style="text-align: right; padding-right: 25px;">
            <%= number_to_currency detail.price_total, unit: "$" %>
          </td>
        </tr>
        <%= %>
      <% end %>
    
    </table>
  </div>


  <table class="invoice-footer">
    <tr class="total">
      <td></td><td></td><td></td>
      
      <td colspan="4">
          <%= number_to_currency @invoice.sub_total, unit: "$" %>
      </td>
    </tr>
    <tr class="total">
      <td></td><td></td><td></td>
      
      <td colspan="4">
          <%= number_to_currency @invoice.iva, unit: "$" %>
      </td>
    </tr>
    <tr class="total">
      <td></td><td></td><td></td>
      
      <td colspan="4">
          <%= number_to_currency(@invoice.total, :unit => "$") %>
      </td>
    </tr>
  </table>
</div>