<div class="login-page">
  <div class="login-logo" >
  </div>
  
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { class: 'login-form' }) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>

      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

      <%= f.submit "Iniciar sessión" %>

      <p class="message">
        <%= link_to "Olvido su contraseña?", new_user_password_path %>
      </p>
    <% end %>
  </div>
</div>