<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <title>
    <%= content_for(:title) %> - <%= Rails.application.class.parent_name.titlecase %>
  </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "pages/agenda" if ('pages/agenda' == "#{params[:controller]}/#{params[:action]}") %>
  <%# render "layouts/stylesheet" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag "#{controller_name}-bundle" %>
  <%= stylesheet_pack_tag "#{controller_name}-bundle" %>
  <%= favicon_link_tag asset_path('animalesfelices-favicon.png') %>
</head>
<body>
  <%- render "layouts/topnavbar" %>
  <div class="app-container">
    <main class="main-content" role="main">
      <%= yield %>
    </main>
  </div>

</body>
</html>
